{% extends "main/home.html" %}
{% block title %}
{% endblock %}


{% block content %}
    <audio id="myAudio"></audio>
        <div class="container" style="display: inline-block">
        <h1> Music Authentication</h1>
            <br/>
            <p> A sound will be played, Enter code according to the order of tunes </p>
            <br/>
            <br/>
        <button type="button" id='play' class="btn btn-outline-danger" onclick="playAudio()">Play</button>
            <br/>
        <br/>
        </div>
        <div class="container" style="display: inline-block">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group" style="display: inline-block">
                    <br/>
        <label for="passcode">Enter passcode:</label>
                    <br/><br/>
        <div class="form-inline" style="display: inline-flex">
          <input type="password" class="form-control passcode-input" id="passcode1" name="code1"  maxlength="1" size="2" required>
          <input type="password" class="form-control passcode-input" id="passcode2" name="code2"  maxlength="1" size="2" required>
          <input type="password" class="form-control passcode-input" id="passcode3" name="code3"  maxlength="1" size="2" required>
            <input type="hidden" name="context_data" value="{{ context_data }}">
        </div>
      </div>
                <br/>
                <br/>
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
        </div>

    <script src="/static/JS/verify/validate.js"></script>
{% endblock %}